
<h1>
  Book {{book.name}} detail
</h1>

  <div class="form-group">
    <input type="hidden" id="id" class="form-control" [(ngModel)]="book.id" name="id">
    <label for="name">Book Name:</label>
    <input class="form-control" [(ngModel)]="book.name">
  </div>
  <div class="form-group">
    <label for="price">Item Price:</label>
    <input type="text" class="form-control" [(ngModel)]="book.price">
  </div>

  <div class="form-group">
    <label for="price">Item Price:</label>
    <textarea  class="form-control" [(ngModel)]="book.content" ></textarea>
  </div>

  <button  class="btn btn-primary" (click)="goBack()">Back</button>
  <!-- <button (click)="save()" class="btn btn-primary">Save</button> -->

  <div *ngIf="!book.id; then thenBlock else elseBlock">
     </div>
  <ng-template #thenBlock>
     <button (click)="saveBook()" class="btn btn-primary">Save</button>
  </ng-template>
  <ng-template #elseBlock>
     <button (click)="updateBook()" class="btn btn-primary">update</button>
    </ng-template>


    <!-- <button *ngIf="!book.id" (click)="saveBook()" class="btn btn-primary">Save</button>


         <button *ngIf="book.id"  (click)="updateBook()" class="btn btn-primary">update</button> -->
