

<div class="row">
  <a  class="btn btn-primary" routerLink="/detail">Add new</a>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>content</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.price}}</td>
      <td>{{book.content}}</td>
      <td><a class="btn btn-success"  [routerLink]="['/detail', book.id]">Edit</a>
         <a (click)="deleteBook(book); $event.stopPropagation()" class="btn btn-warning">Delete</a> </td>
   </tr>

  </tbody>
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
</table>
