<h1>{{title}}</h1>
<nav>
  <a routerLink="/books" routerLinkActive="active">books</a>
  <a routerLink="/login" routerLinkActive="active">login</a>
</nav>

<div style="margin: 20px;">

</div>
<router-outlet></router-outlet>
<!-- <ng-book></ng-book> -->
